
* {
    box-sizing: border-box;/* change le box model */
    }
    img {
      height: auto;
    }
.carrousel_parent-ecrans {
      display: flex;
      width: 100%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      align-items: center;
    
    }
.carrousel_ecran {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-inline: 5%;
    background-color: var(--menu-color);
    border-radius: 5%;
    border: 2px solid var(--tonic-color);
    flex: none;
    scroll-snap-align:center;
    }
.carrousel_ecran figure {
      margin: 0;
    }

.carrousel_btn, .carrousel_btn-avant,
.carrousel_btn, .carrousel_btn-apres{
  appearance: none;
  border: none;
  background: none;
}